.Overlay {
  width: 100vw; /* Viewport Width */
  height: 100vh; /* Viewport Height */
  position: fixed; /* Fija */
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center; /* Horizontal */
  justify-content: center; /* Vertical */
}

.Container {
  width: 80vw;
  min-height: 80vh;
  background: #fff;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.CloseButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: #1766dc;
}

.CloseButton:hover {
  background: #f2f2f2;
}

.CloseIcon {
  width: 100%;
  height: 100%;
}

.ModalHeader {
  font-size: 120%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}

.CircleHolder{
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

.Circle {
	min-width: 200px;
	min-height: 200px;
  aspect-ratio: 1;
	border-radius: 50%;
	background: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  margin: 0px auto;
}